:root[data-theme="light"] {
  --bg-color: #ffffff;
  --text-color: #3c4043;
  --sidebar-bg: #ffffff;
  --border-color: #e0e0e0;
  --hover-bg: #f1f3f4;
  --Header-color: #ffffff;

  /* Primary Blue */
  --btn-bg: #1a73e8;
  --btn-hover: #1765cc;
  --btn-text: #ffffff;
}
